.object-display-container {
    width: 100%;
}

.object-types {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease-in-out;
}

.button:hover {
    border-bottom-color: #ddd;
}

.button.selected {
    border-bottom-color: #000;
}

.selected-objects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
}

.object-item {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.object-item:hover {
    background-color: #f0f0f0;
}

.object-item.selected {
    font-weight: bold;
    background-color: #e0e0e0;
}