.stage-settings-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.settings-table {
    width: 100%;
    border-collapse: collapse;
    /* ボーダーを重ねる */
}

.settings-table tr {
    height: 30px;
    /* ここで行の高さを指定しているので、適切な値を設定してください */
}

.settings-table td {
    padding: 0px 5px;
    /* 右左のパディングを追加して、テキストとボーダーとの余白を作る */
    vertical-align: middle;
    /* テキストとinputを中央揃えにする */
}

.setting-input {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    /* inputの高さを親要素(<td>)と同じに設定 */
    padding: 0px;
    margin: 0;
}

.save-buttons button {
    margin-right: 8px;
}