.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.stage-manager-container {
    position: relative;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.stage-builder-container {
    flex-basis: calc(50% - 10px);
    /* 100%のうち50% */
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.object-display-container {
    flex-basis: calc(25% - 10px);
    /* 100%のうち25% */
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}