.stage-settings-container {
    position: relative;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.toggle-button {
    position: absolute;
    right: 0;
    bottom: 50px;
}

.sidebar {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f2f2f2;
    overflow-y: auto;
    transition: all 0.3s ease;
    transform: translateX(-290px);
}

.sidebar.hidden {
    /* width: 40px; */
    overflow: hidden;
}

.sidebar.visible {
    transform: translateX(0);
}

.hide-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.setting-row {
    display: flex;
    align-items: center;
}

.setting-input {
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.setting-select {
    margin-right: 8px;
}