.stage-settings-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.setting-row {
    display: flex;
    align-items: center;
}

.setting-label,
/* StageSettings.css の中で */

.setting-input {
    max-width: 100%;
    /* この行を追加 */
    overflow: hidden;
    /* この行を追加 */
    box-sizing: border-box;
    /* この行を追加 */
}

.setting-select {
    margin-right: 8px;
}