/* Home.css */
.home-container {
    background-image: url('../assets/react/pipo-battlebg002b.jpg');
    /* 背景画像のパスを正しく設定してください */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* 子要素を縦に並べます */
    align-items: center;
    /* 子要素を水平方向の中央に配置します */
    justify-content: center;
    /* 子要素を垂直方向の中央に配置します */
}


h1 {
    margin-bottom: 20px;
    color: #333;
}

p {
    margin-top: 1px;
    /* 上のマージンを5ピクセルに設定 */
    margin-bottom: 1px;
    /* 下のマージンを5ピクセルに設定 */
}

.feature-card {
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    /* こちらでカードの幅を固定 */
    height: 150px;
    /* こちらでカードの高さを固定 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 影を追加してカードに深みをもたせます */
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* カード内の内容を中央揃え */
    justify-content: space-between;
    border: 2px solid #2a2a2a;
    /* カード内の空間を均等に分散 */
}

.feature-title-link {
    text-decoration: none;
    /* リンクの下線を削除 */
    color: inherit;
    /* リンクの色をカードの色と同じに */
}


.feature-card:hover {
    transform: scale(1.05);
}

/* カードに異なる色を設定 */
.feature-card:nth-child(1) {
    background-image: url('../assets/react/link-card.jpg');
    background-size: cover;
    background-position: center;
}

.feature-card:nth-child(2) {
    background-image: url('../assets/react/link-card.jpg');
    background-size: cover;
    background-position: center;
}

.feature-card:nth-child(3) {
    background-image: url('../assets/react/link-card.jpg');
    background-size: cover;
    background-position: center;
}

.feature-card:nth-child(4) {
    background-image: url('../assets/react/link-card.jpg');
    background-size: cover;
    background-position: center;
}

.feature-card h2 {
    color: #007bff;
}

.feature-card p {
    text-align: center;
    color: #555;
}

/* Home.css (追加分のみ) */
.feature-title-link {
    text-decoration: none;
    color: inherit;
    /* タイトルの色を維持する */
    transition: color 0.2s ease-in-out;
    /* ホバーエフェクトのためのアニメーション */
}

.feature-title-link:hover {
    color: #0056b3;
    /* ホバー時の色 */
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.feature-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.info-card {
    background-image: url('../assets/react/link-card.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    margin-top: 350px;
    width: 700px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    border: 2px solid #2a2a2a;
}

.updates-section {
    background-image: url('../assets/react/link-card.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    width: 700px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #2a2a2a;
}

.game-features-section {
    background-image: url('../assets/react/link-card.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    width: 700px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #2a2a2a;
}

.partners-section {
    margin-bottom: 100px;
}